body {
    margin: 0%;
    font-family: 'Times New Roman', Times, serif;

}

header {
    text-align: center;
    font-size: 40px;
    color: peru;
}


a {
    color: darkorange;
    padding-left: 10em;
}

#Mywords {
        font-size: 1.5em;
        color: darkorange;

}

a:link {
    text-decoration: none;
    color: black;

}   


